body {
  font-family: monospace;
  background: black;
  color: white;
  }

.animal-profile {
  column-count: 5;
  column-gap: 50px;
  column-rule-style: solid;
  column-rule-width: auto;
  
  /* margin: 12px;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
  box-sizing: border-box;
  float: center; */
}

h2 {
  font-size: larger;
  text-align: center;
  column-span: all;
}